<div class='container px-5 px-sm-0 my-5'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>ユーザー情報</h2>
        <table class="table">
          <tr><%= attachment_image_tag @user, :profile_image, size:"100x100", format:'jpeg', fallback:"no_image.jpg" %></tr>
          <tr>
            <th>name</th>
        	<th><%= @user.name %></th>
          </tr>
          <tr>
        	<th>introduction</th>
        	<th><%= @user.introduction %></th>
    	  </tr>
        </table>
        
        <% @category.each do |category| %>
          <div>
            <!--それぞれの作りたいカテゴリーでのコミュニティ一覧ページへのパスを記入お願いします-->
            <% if(category.name == "音楽") %>
              <%= link_to "音楽", music_groups_path %>
            <% elsif(category.name == "グルメ") %>
              <%= link_to "グルメ", root_path %>
            <% elsif(category.name == "お酒") %>
              <%= link_to "お酒", root_path %>
            <% else %>
              <%= link_to "自動車", root_path %>
            <% end %>
          </div>
        <% end %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Group List</h2>
        <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <div>
              <%=link_to "グループを作成する",new_group_path %>  <%#=link_to "グループ一覧",groups_path %>
            </div>

            <th></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th>日付</th>
            <th colspan="4"></th>
            <th>カテゴリ</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><%= attachment_image_tag group, :image, format: "jpeg", fallback: "no_image.jpg", size: "40x40" %></td>
              <td><%= link_to group.name, group_path(group) %></td>
              <td><%= group.introduction %></td>
              <td><%= group.start_time.strftime("%Y年%m月%d日") %></td>
              <% if Category.find(group.category_id).name.present? %>
                <td><%= Category.find(group.category_id).name %></td>
              <% else %>
                <td><p>なし</p></td>
              <% end%>
              <td><i class="fas fa-users"></i><%= group.users.count %></td>
              <td>
                <% if group.owner_id == current_user.id %>
                  <%= link_to 'Edit', edit_group_path(group), class: "btn btn-sm btn-success" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>  <!--(br:19)-->
    </div>  <!--(col-md-8 offset-md-1)-->
  </div>
</div> <!--container-->