<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%#= render 'users/info', user: current_user %>
      <h2 class="mt-3">New book</h2> <!--何か入れてもいいかも-->
      <%#= render 'books/form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>コミュニティ詳細</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th>メンバー</th>
            <th>日時</th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= attachment_image_tag @group, :image, :fill, 50, 50, fallback: "no-image-icon.jpg" %></td>
              <td><%= @group.name %></td>
              <td><%= @group.introduction %></td>
              <td>
                  <% @group.users.each do |member| %>
                  <%= member.name %><br>
                <% end %>
              </td>
              <td><%= @group.start_time.strftime("%Y年%m月%d日 %H:%M") %></td>
              <td>
             <% if @group.owner_id == current_user.id %>
                   <%= link_to '編集', edit_group_path(@group), class: "btn btn-sm btn-success" %>
             <% elsif @group.users.include?(current_user) %>
                   <%= link_to 'コミュニティを退会', group_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
             <% else %>
                   <%= link_to 'コミュニティに参加', group_join_path(@group), class: "btn btn-sm btn-success" %>
             <% end %>

            <!--<%# if @group.owner_id == current_user.id %>-->
            <!--  <%#= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success" %>-->
            <!--  <%#= link_to 'グループ削除',group_all_destroy_path(@group),method: :delete,data: { confirm: '本当に削除しますか？' } ,-->
            <!--  class: "btn btn-sm btn-outline-danger" %>-->

          </td>
         </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>