<!DOCTYPE html>
<html>
  <head>
    <title>En</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-expand navbar-dark bg-info fixed-top">
        <div class="container">
          <div>
            <%= link_to root_path, class: "navbar-brand", local: true do %>
            <h5 class="lo">en</h5>
            <% end %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-column" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
               <% if user_signed_in? %>
                <li class="nav-item mr-1"><%= link_to "マイページ", user_path(current_user.id), class: "nav-link " %></li>
                <li class="nav-item mr-1"><%= link_to "コミュニティー", groups_path, class: "nav-link " %></li>
                <li class="nav-item mr-1"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link " %></li>
              <% else %>
                <li class="nav-item mr-1"><%= link_to "新規登録", new_user_registration_path, class: "nav-link " %></li>
                <li class="nav-item mr-1"><%= link_to "ログイン", new_user_session_path, class: "nav-link " %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
       <div class="container mt-5">
  	     <div class="row">
    	     <div class="mx-auto">
    		     <p>©en</p>
    	     </div>
        </div>
       </div>
     </footer>
  </body>
</html>
